<h1>Seja bem Vindo!</h1>

<p>O idioma utilizada nesta aplicação é: <strong> <%= t('actual_locale') %></strong></p>
<p> <strong>Data:</strong> <%= l(Date.today) %> </p>
<p><%= t('hello')%></p>

<%= render "menu" %>

<p>
    Você está em um ambiente de <strong><%=ambiente_rails%></strong> 
</p>

<p>
   Eu sou uma variável de instância/sessão <strong><%= @meu_nome%></strong>
</p>

<p>
    Curso que estou estudando é <strong><%= @meu_curso%></strong>
</p>
 
