<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @coin.description %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @coin.acronym %>
</p>

<p>
  <strong>Show Image:</strong>
  <%= image_tag @coin.url_image, size: "25x25" %>
</p>

<%= link_to 'Editar', edit_coin_path(@coin), class:"btn btn-primary"  %> |
<%= link_to 'Voltar', coins_path, class:"btn btn-secondary"  %>
